.container, .two-columns, .two-columns div, .three-columns, .three-columns div, .four-columns, .four-columns div, .two-one-columns, .two-one-columns div, .one-two-columns, .one-two-columns div {
  border: thin dashed rgba(146, 0, 165, 0.5);
  background-color: rgba(146, 0, 165, 0.15);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==");
  background-repeat: repeat;
}

.two-columns, .three-columns, .four-columns, .two-one-columns, .one-two-columns {
  height: 100px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.two-columns div, .three-columns div, .four-columns div, .two-one-columns div, .one-two-columns div {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-columns div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.two-columns div:nth-child(n+3) {
  display: none;
}

.three-columns div {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}
.three-columns div:nth-child(n+4) {
  display: none;
}

.four-columns div {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.four-columns div:nth-child(n+5) {
  display: none;
}

.two-one-columns div:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.two-one-columns div:nth-child(n+3) {
  display: none;
}

.one-two-columns div {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.one-two-columns div:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.one-two-columns div:nth-child(n+3) {
  display: none;
}

div > p {
  width: 2em;
  padding: 10px 10px;
  text-align: center;
  border: thin dashed rgba(0, 32, 165, 0.5);
  background-color: rgba(0, 32, 165, 0.15);
  background-repeat: repeat;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
}
