$row-height: 100px

%mark
  border: thin dashed rgba(146, 0, 165, 0.5)
  background-color: rgba(146, 0, 165, 0.15)
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==")
  background-repeat: repeat

@mixin heat($pct)
  border: thin solid rgba(64, 64, 64, $pct)
  background-color: rgba(128, 128, 128, $pct)
  /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==")*/
  /*background-repeat: repeat*/

@mixin row($size)
  height: $row-height * $size
  display: flex
  flex-direction: row
  justify-content: flex-start

%cell
  /*margin: 5px*/
  display: flex
  align-items: center
  justify-content: center
  flex-grow: 1

body
  padding: 0px
  margin: 0px
  border-width: 0px
  overflow-x: hidden

.container
  /*@extend %mark*/
  width: 100%
  margin: auto
  padding: 0px
  display: flex
  flex-direction: column

.full-width
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell
    flex-basis: 100%

  div:nth-child(n+2)
    display: none

.two-columns
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell
    flex-basis: 50%

  div:nth-child(n+3)
    display: none

.three-columns
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell
    flex-basis: 33.33%

  div:nth-child(n+4)
    display: none

.four-columns
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell
    flex-basis: 25%

  div:nth-child(n+5)
    display: none

.two-one-columns
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell

  div:first-child
    flex-grow: 2

  div:nth-child(n+3)
    display: none

.one-two-columns
  /*@extend %mark*/
  /*@extend %row*/

  div
    /*@extend %mark*/
    @extend %cell
    flex-grow: 2

  div:first-child
    flex-grow: 1

  div:nth-child(n+3)
    display: none

div > p
  padding: 10px 10px
  text-align: center
  border: thin dashed rgba(0, 32, 165, 0.5)
  background-color: rgba(0, 32, 165, 0.15)
  background-repeat: repeat
  font-family: monospace
  font-size: 14px
  font-weight: bold

div
  border: thin solid rgba(32, 32, 32, 0.15)

#row-01
  @include row(1)
  @include heat(1.0)

#row-02, #row-03
  @include row(3.5)

#row-04
  @include row(2.4)

#row-05, #row-06, #row-07, #row-08
  @include row(3)

#row-09, #row-15, #row-19
  @include row(1.2)

#row-10
  @include row(5)

#row-11, #row-12, #row-13, #row-14
  @include row(2)

#row-16
  @include row(2)

#row-17
  @include row(3.5)

#row-18
  @include row(4.8)

#row-20
  @include row(3.5)

.heat-75
  @include heat(0.75)

.heat-50
  @include heat(0.50)
