//.full-width
//  display: grid
//
//.three-cols
//
//.one-plus-two
//
//.one-plus-one
//
//.app-layout {
//  display: grid
//  grid-template-columns: 1fr 1fr 1fr 1fr
//  grid-template-rows: 100vh

$row-height: 100px

%mark
  border: thin dashed rgba(146, 0, 165, 0.5)
  background-color: rgba(146, 0, 165, 0.15)
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==")
  background-repeat: repeat

%row
  height: $row-height
  margin: 5px
  display: flex
  flex-direction: row
  justify-content: flex-start

%cell
  margin: 5px
  display: flex
  align-items: center
  justify-content: center
  flex-grow: 1

.container
  @extend %mark
  width: 75%
  margin: auto
  display: flex
  flex-direction: column

.two-columns
  @extend %mark
  @extend %row

  div
    @extend %mark
    @extend %cell
    flex-basis: 50%

  div:nth-child(n+3)
    display: none

.three-columns
  @extend %mark
  @extend %row

  div
    @extend %mark
    @extend %cell
    flex-basis: 33.33%

  div:nth-child(n+4)
    display: none

.four-columns
  @extend %mark
  @extend %row

  div
    @extend %mark
    @extend %cell
    flex-basis: 25%

  div:nth-child(n+5)
    display: none

.two-one-columns
  @extend %mark
  @extend %row

  div
    @extend %mark
    @extend %cell

  div:first-child
    flex-grow: 2

  div:nth-child(n+3)
    display: none

.one-two-columns
  @extend %mark
  @extend %row

  div
    @extend %mark
    @extend %cell
    flex-grow: 2

  div:first-child
    flex-grow: 1

  div:nth-child(n+3)
    display: none

div > p
  width: 2em
  padding: 10px 10px
  text-align: center
  border: thin dashed rgba(0, 32, 165, 0.5)
  background-color: rgba(0, 32, 165, 0.15)
  background-repeat: repeat
  font-family: monospace
  font-size: 24px
  font-weight: bold
